# Игнорируем настройки IDE
.idea/
*.iml
*.iws
*.ipr

# Игнорируем скомпилированные файлы
out/
target/
build/
bin/

# Игнорируем системные файлы Mac/Windows
.DS_Store
Thumbs.db

# Игнорируем логи и временные файлы
*.log
*.tmp